body{
    
    background-image: url(../images/haikei.jpg)
}
h2{
    text-align: center;
    color: aqua;
}
div{
    margin: auto;
    width: 800px;
    height: 500px;
}
div.waku1{
    display: inline-block;
    vertical-align: top;
    margin-right: 50px;
    width: 200px;
    height: 500px;
    
}

div.waku2{
    display: inline-block;
    vertical-align: top;
    margin-left: 50px;
    width: 400px;
    height: 500px;
}
h4{
    color: darkred;
}
p{
   background-image: url(../images/top.jpg)
}
